:root {
    --bg-color: #1f0837;
    --text-color: #ebd4f8;
    --header-height: 80px;
    --header-bg-color: #0d050d;
    --header-neon-color: hsla(296, 100%, 85%, 0.795);
    --header-neon-shadow: 0px 4px 18px -3px var(--header-neon-color);
    --accent-color: #e97e90;
    --accent-color-neon-color: #ffb3b380;
    --accent-color-neon-shadow: 0px 0px 8px var(--accent-color-neon-color);
    --current-page-shadow: 0px 0px 12px hsl(278, 72%, 99%);
    --main-padding: 1.25em;

}

html {
    height: 100vh;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto Flex', Helvetica, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-bg-color);
    height: var(--header-height);
    box-shadow: var(--header-neon-shadow);
}

main {
    padding: var(--main-padding);
}

#nav-list {
    display: flex;
    list-style: none;
}

#nav-list > li {
    font-size: 1.2em;
    margin: 0 .8em;
    padding: .3em 0;
    border-bottom: 2px solid transparent;
    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

#nav-list > li:hover {
    text-shadow: var(--accent-color-neon-shadow);
    color: var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
}

.current-page {
    text-shadow: var(--current-page-shadow);
}

a {
    text-decoration: none;
}

@media screen and (max-width: 540px){
    body {
        grid-template-rows: initial;
    }

    header {
        display: none;
    }

    main {
        height: calc(100% - var(--main-padding) * 2);
    }
}