:root {
    --bg-color: #1f0837;
    --text-color: #ebd4f8;
    --header-height: 80px;
    --header-bg-color: #0d050d;
    --header-shadow-color: #f67eff99;
    --accent-color: #e97e90;
    --accent-color-neon-color: #ffb3b380;
    --accent-color-neon-shadow: 0px 0px 8px var(--accent-color-neon-color);
    --current-page-shadow: 0px 0px 12px hsl(278, 72%, 99%);
}

html {
    height: 100vh;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto Flex', Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-bg-color);
    height: var(--header-height);
    box-shadow: 0px 0px 10px 0px var(--header-shadow-color);
}

main {
    height: calc(100% - var(--header-height));
}

#nav-list {
    display: flex;
    list-style: none;
}

#nav-list > li {
    font-size: 1.2em;
    margin: 0 .8em;
    padding: .3em 0;
    border-bottom: 2px solid transparent;
    transition: all 250ms ease-in-out;
}

#nav-list > li:hover {
    text-shadow: var(--accent-color-neon-shadow);
    color: var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
}

.current-page {
    text-shadow: var(--current-page-shadow);
}

a {
    text-decoration: none;
}